*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.file-transfercont{
    margin: 20px 100px 0px 300px;
    /* border: 2px solid red; */
    width: 900px;
    height: 600px;
    background-color: rgb(140, 240, 223);
    position: relative;
}
h2{
    padding: 10px;
    text-align: center;
}
.nav-link{
    display: flex;
    gap: 90px;
}
ul{
    margin-left: 70px;
    list-style-type: none;
    padding: 10px 0px 0px 10px;
    margin-left: 10px;
    border-radius: 4px;
    /* border: 2px solid red; */
}
img{
   
    border-radius: 4px;
}
li>a {
    text-decoration: none;
    
    color: black;
    padding: 10p;
}
li{
    margin-left: 30p;
    margin: 10px;
    padding: 5px;
    width: 140px;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 2px px 0px 2px;
}
 
/* hovering effect */
ul{
    background-color: white;
    width: 180px;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .home:hover {
    background-color: white;
}
.Receive-file:hover{
    background-color: white;   
} 
.Transfer-file:hover{
    background-color: white;      
}
.Download-file:hover {
    background-color: white;
}
         
.Delete-file:hover{
    background-color: white;  
}
.help:hover{
    background-color: white;
} */

li:hover{
    background-color: white;
    font-size:22px ;
    box-shadow: 0px 1px 2px 0px;
   
}

/* style for the icon-links */
.from-bracket {
    font-size: 40px;
}
.receive-link{
    padding-left: 32px;
    padding-top: 19px;
    box-shadow: black 0px 2px 2px 0px ;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 500px;    
}
.send-link {
    padding-left: 25px;
    padding-top: 19px;
    box-shadow: black 0px 2px 2px 0px ;
    height: 100px;
    width: 100px;
    background-color: white;  
    border-radius: 500px;    
}
.send-link:hover{
    height: 110px;
    width: 110px;  
    padding-left: 30px;
    padding-top: 22px;
}

.Download-link { 
    padding-left: 23px;
    padding-top: 19px;
    box-shadow: black 0px 2px 2px 0px ;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 500px;    
}
.Download-link:hover{
    padding-top: 22px;
    height: 110px;
    width: 110px;
    padding-left: 30px;
}
.transfer-link{
    padding-top:20px ;
    margin-top: 20px;
    margin-left: 280px;
    width: 550px;
    height: 150px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    
}